body {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 30px;
}

header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 35px;
      gap: 20px;
      width: 100%;
}

.go-back {
      position: absolute !important;
      left: 10px;
      background-color: transparent !important;
}

.go-back svg {
      height: 25px;
      width: 25px;
      fill: #1a1a1a;
}

.go-back a {
      text-decoration: none;
      color: black;
}

.go-back:hover {
      cursor: pointer;
      background-color: lightgrey !important;
}

.no-files {
      padding: 15px;
      background-color: palegoldenrod;
      border-radius: 8px;
      width: 60%;
      text-align: center;
}

.actions {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      border-radius: 8px;
      gap: 5px;
      transition: background-color 0.3s ease;
}

.actions a::after {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
}

.actions svg {
      height: 25px;
      width: 25px;
}

.actions a {
      color: black;
      text-decoration: none;
}

.actions:hover,
.download-section {
      cursor: pointer;
}

.specials {
      background-color: transparent;
}

.specials:hover {
      background-color: lightgrey !important;
}

.delete {
      background-color: #1a1a1a;
      transition: transform 0.3s ease !important;
}

.delete:hover {
      transform: translateY(-4px);
}

.delete svg {
      fill: white;
}

.delete a {
      color: white;
}

.images-grid {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 2rem;
}

.image {
      border-radius: 8px;
      height: 300px;
      width: 300px;
      overflow: hidden;
      box-shadow: 2px 10px 25px darkgray;
      position: relative;
}

.image img {
      height: inherit;
      width: inherit;
      object-fit: cover;
}

.image .download-section {
      position: absolute;
      height: inherit;
      width: inherit;
      inset: 0;
      margin: auto;
      background-color: rgba(245, 245, 245, 0.5);
      backdrop-filter: blur(9px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 1;
      transition: opacity 0.3s ease;
}

.invisible {
      opacity: 0 !important;
}

.image a {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3px;
      pointer-events: auto;
      transition: pointer-events 0s linear 0.3s;
}

.link-inactivo {
      pointer-events: none !important;
      transition: pointer-events 0s linear 0s;
}

.image a svg {
      height: 50px;
      width: 50px;
}

.image a span {
      color: black;
      font-size: 1.2rem;
}

@media (max-width: 1320px) {
      .images-grid {
            grid-template-columns: repeat(3, 1fr);
      }
}

@media (max-width: 1000px) {
      .images-grid {
            grid-template-columns: repeat(2, 1fr);
      }
}

@media (max-width: 650px) {
      .images-grid {
            grid-template-columns: repeat(1, 1fr);
      }

      header {
            display: grid;
            grid-template-columns: repeat(2, 0fr);
            margin-bottom: 2rem;
      }

      .go-back {
            position: inherit !important;
      }

      .delete a {
            font-size: 0;
      }

      .delete a::after {
            content: "Borrar";
            font-size: 1rem;
            color: white;
            position: inherit;
      }
}
