body {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
}

header {
      margin-top: 30px;
      gap: 10px;
}

.images-grid {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(4, 1fr);
}

.image {
      border-radius: 8px;
      height: 300px;
      width: 300px;
      overflow: hidden;
      box-shadow: 2px 10px 25px darkgray;
}

.image img {
      height: 300px;
      width: 300px;
      object-fit: cover;
}
