body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      background-color: #F5F5FA;
      position: relative;
}

.admin-section {
      position: absolute;
      top: 15px;
      left: 15px;
      display: flex;
      flex-direction: column;
      gap: 5px;
}

.admin-badge {
      display: flex;
      align-items: center;
      gap: 3px;
      border-radius: 8px;
}

.admin-badge svg {
      height: 35px;
      width: 35px;
      fill: #1a1a1a;
      padding: 5px;
}

.admin-msg::after {
      content: "Autenticarse";
      height: 100%;
      width: 0%;
      font-size: 1.2rem;
      content-visibility: auto;
      transition: width 0.5s ease;
}

.admin-msg:hover::after {
      width: 100%;
}

.admin-badge:hover {
      cursor: pointer;
      background-color: lightgrey;
}

.input-section {
      display: flex;
      align-items: center;
      gap: 5px;
      animation: fromAbove 0.3s ease;
}

.secret-key {
      border: 2px solid darkgray;
      border-radius: 8px;
      padding: 10px;
}

.secret-key:active {
      border-color: #BD060A;
}

@keyframes fromAbove {
      from {
            transform: translateY(-100%);
            opacity: 0;
      }

      to {
            opacity: 1;
            transform: translateY(0);
      }
}

.input-section button {
      padding: 10px;
      border-radius: 8px;
      border: 1px solid lightgrey;
      background-color: #1a1a1a;
      color: white;
}

.input-section button:hover {
      cursor: pointer;
}

.upload-form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      border: none;
      background-color: white;
      box-shadow: 2px 10px 25px darkgray;
      overflow: hidden;
}

#titulo {
      font-size: 2.5rem;
      padding: 20px 20px 0px 20px;
      text-align: center;
      font-weight: 600;
      position: relative;
      /* top right bottom left */
}

.upload-container {
      gap: 20px;
      display: flex;
      flex-direction: column;
}

.upload-form,
.upload-container {
      padding: 10px;
      border-radius: 10px;
}

.select-button {
      font-size: 1.3rem;
      padding: 15px 100px;
      border-radius: 10px;
      background-color: #BD060A;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      transition: all 0.3s ease;
      box-shadow: 1px 3px 5px darkgray;
}

.select-button svg {
      height: 24px;
      width: 24px;
      fill: #e3e3e3;
}

.select-button:hover {
      transform: translateY(-4px);
      background-color: #9e0508;
      box-shadow: 0 6px 15px rgba(189, 6, 10, 0.3);
}

.selecciones {
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow: hidden;
      max-width: 400px;
}

.seleccion {
      display: flex;
      border: 2px;
      border-radius: 10px;
      border-style: dashed;
      border-color: darkgrey;
      background-color: #F5F5FA;
      align-items: center;
      gap: 0px;
}

.slide-in {
      animation: slideIn 0.3s ease-out forwards;
}

@keyframes slideIn {
      0% {
            opacity: 0;
            transform: translateY(15px) scale(0.98);
            pointer-events: none;
      }

      100% {
            opacity: 1;
            transform: translateY(0) scale(1);
      }
}

.slide-out {
      animation: slideOut 0.3s ease-out forwards;
      pointer-events: none;
}

@keyframes slideOut {
      0% {
            opacity: 1;
            transform: translateX(0);
      }

      100% {
            opacity: 0;
            transform: translateX(-100%);
      }
}

.vista-previa {
      height: 35px;
      width: 35px;
      object-fit: cover;
      margin-left: 10px;
      border-radius: 4px;
}

.seleccion span {
      padding: 10px;
      text-align: center;
      justify-content: center;
      margin: 10px;
      overflow: hidden;
      max-width: 75%;
}

.boton-borrado {
      margin-left: auto !important;
      margin: 10px;
      display: flex;
      background: transparent;
      text-align: center;
      color: darkred;
      height: 24px;
      width: 24px;
      box-sizing: border-box;
      border-radius: 50%;
}

.boton-borrado:hover {
      cursor: pointer;
      background-color: darkred;
      color: white;
}

.oculto,
.upload-input {
      display: none;
}

.inactivo {
      pointer-events: none;
}

.upload-form label:hover {
      cursor: pointer;
}

footer {
      display: flex;
      gap: 10px;
}

footer button {
      border-radius: 5px;
      padding: 8px;
      transition: all 0.3s ease;
}

footer button:hover {
      cursor: pointer;
}

footer button:first-child {
      flex: 2;
      background: transparent;
      border: none;
}

footer button:first-child:hover {
      background: darkgray;
}

footer button:last-child {
      flex: 3;
      background-color: #1a1a1a;
      color: white;
      font-size: 1.1rem;
      font-weight: 600;
      position: relative;
}

footer button:last-child:hover {
      flex: 4;
}

.loading-upload::before {
      content: "";
      position: absolute;
      height: 13px;
      width: 13px;
      border: 4px solid grey;
      border-top: 4px solid white;
      border-radius: 50%;
      left: 30%;
      animation: spin 1s linear infinite;
}

@keyframes spin {
      to {
            transform: rotate(360deg);
      }
}

.loading-upload::after {
      content: "Subiendo...";
      color: white;
      position: absolute;
      left: 40%;
}

.texto-invisible {
      color: transparent !important;
}

.success {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
}

.success svg {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      box-sizing: border-box;
      background-color: #F5F5FA;
      fill: #1a1a1a;
}

#scroll-up {
      position: fixed;
      z-index: 1;
      right: 20px;
      bottom: 20px;
      border-radius: 8px;
      background-color: lightgrey;
}

#scroll-up svg {
      height: 40px;
      width: 40px;
      fill: #1a1a1a;
      padding: 5px;
}

#scroll-up:hover {
      background-color: darkgrey;
      cursor: pointer;
}

@media (max-width: 400px) {
      .upload-form {
            margin-left: 5px;
            margin-right: 5px;
      }

      .select-button {
            padding: 15px 76px;
      }
}
